.categories {
  position: sticky;
  top: 52px;
  z-index: 1;
  background-color: white;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.categories__list {
  color: #31b572;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  text-transform: capitalize;
}

.categories__item {
  cursor: pointer;
  padding: 3px 6px;
}
.categories__item:hover {
  color: #0ee278;
}
